body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 2px;
    background-color: #554A4A;
}

.array-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.array-bar {
    width: 3px;
    background-color: rgb(255, 102, 102);
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -45px;
}

.new-array-button {
    background-color: #e2552a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-array-button:hover {
    background-color: #a02905;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}
